/* Css Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Variables */
:root {
    --color_top: #EEEEEE;
    --color_middle1: #686D76;
    --color_middle2: #373A40;
    --color_bottom: #f17415;
    --color_action: #b34d00;
    --complementary: #007DDC;
    --text_color: rgb(226, 226, 226);

    --small_size: 320px;
    --tablet_size: 768px;
    --laptop_size: 992px;
    --desktop_size: 1200px;

    --dist_s: 0.5em;
    --dist_x: 1em;
    --dist_xx: 1.5em;
    --dist_L: 2em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



h1 {
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5em;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--color_middle2);
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    display: flex;
    background-color: var(--color_top);
    height: 3em;
    padding: 0.5em;
}

nav {
    display: flex;
}

button {
  appearance: none;
  background-color: var(--color_top);
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  margin-left: 1.5em;
  padding: 2em 2em;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
}

button:hover {
    background-color: var(--color_bottom);
}

button:active {
    background-color: var(--color_action);
}


/* Sections */
section {
    display: flex;
    flex-direction: column;
    flex: auto;

    color: var(--text_color);
}

#content {
    display: flex;
    flex-direction: column;
    flex: auto;

}

.block {
    background-color: var(--color_middle1);
    outline: 2px solid var(--color_top);
    border-radius: 10px;
    padding: 1em 1em 1em 1em;
    margin: 1em 0 1em 0;
}

.location img {
    max-width: calc(min(700px, 100%));
}

.items {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: minmax(500px, 1fr);
    gap: 1.5em;

    margin-bottom: var(--dist_L);
}


.dish {
    background-color: var(--color_middle1);
    border: 2px solid var(--color_top);

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 0 0 50px 0;
    min-height: 500px;
    transition: all 300ms ease 0s;
}

.dish img {
    height: 250px;
    object-fit: cover;
}

.information {
    margin: 1em;
}


/* Footer */

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color_bottom);
    padding: 0.5em;
}

.heart {
    /* Modify size here: */
    --size: 20px;

    margin: 7px 5px 0 5px;
    position: relative;
    width: var(--size);
    height: calc(var(--size) * 0.3);
    transform: translateY(-3px);
  }

  .heart:before,
  .heart:after {
    position: absolute;
    content: "";
    left: calc(var(--size) * 0.55);
    top: 0;
    width: calc(var(--size) * 0.55);
    height: calc(var(--size) * 0.85);
    background: rgb(209, 2, 2);
    border-radius: calc(var(--size) * 0.55) calc(var(--size) * 0.55) 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }

  .heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

a {
    text-decoration: none;
    color: var(--color-complementary);

    &:hover {
        text-decoration: underline overline #111;
    }
}

/* Modules */

.flex_centered_col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.padding_bottom_s {
    padding-bottom: var(--dist_s);
}

.padding_bottom_x {
    padding-bottom: var(--dist_x);
}

.padding_left_s {
    padding-left: var(--dist_s);
}

.margin_left_s {
    margin-left: var(--dist_s);
}

.margin_bottom_s {
    margin-bottom: var(--dist_s);
}

.margin_bottom_L {
    margin-bottom: var(--dist_L);
}

.flex_hor {
    display: flex;
}

.none {
    display: none;
}

.text_centered {
    text-align: center;
}

.underlined {
    text-decoration: underline var(--color_bottom);
}




/* Media Queries */

@media (width > 1250px) {
    #content {
        margin: 0 15em 0 15em;
    }
}

@media (width < 1600px) {
    .items {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}

@media (width < 1250px) {
    #content {
        margin: 0 8em 0 8em;
    }

}

@media (width < 1000px) {
    .items {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
}

@media (width < 720px) {
    #content {
        margin: 0 1em 0 1em;
    }
}

@media (width < 360px) {
    body {
        font-size: 15px;
    }

}
