/* Css Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Variables */
:root {
    --color_top: #EEEEEE;
    --color_middle1: #686D76;
    --color_middle2: #373A40;
    --color_bottom: #DC5F00;
    --color_action: #b34d00;
    --complementary: #007DDC;
    --text_color: rgb(226, 226, 226);
}


header * {
    /* outline: 1px solid red; */

}

h1 {
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5em;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--color_middle2);
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    display: flex;
    background-color: var(--color_top);
    height: 4em;
    padding-left: 0.5em;
}

nav {
    display: flex;
}


button {
  appearance: none;
  background-color: var(--color_top);
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  margin-left: 1.5em;
  padding: 2em 2em;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
}

button:hover {
    background-color: var(--color_bottom);
}

button:active {
    background-color: var(--color_action);
}


/* Sections */
section {
    display: flex;
    flex-direction: column;
    flex: auto;

    color: var(--text_color);
}

#content {
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: center;

    margin: 0 2em 0 2em;
}

.home {
    display: flex;
    flex-direction: column;
    /* display: none; */
}

.block {
    background-color: var(--color_middle1);
    outline: 2px solid var(--color_top);
    border-radius: 10px;
    padding: 1em 1em 1em 1em;
    margin: 1em 0 1em 0;
}

.location img {
    height: 500px;
}

/* Footer */

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color_bottom);
    padding: 0.5em;
    color: var(--text_color);
}

.heart {
    /* Modify size here: */
    --size: 20px;

    position: relative;
    width: var(--size);
    height: calc(var(--size) * 0.3);
    transform: translateY(-3px);
  }

  .heart:before,
  .heart:after {
    position: absolute;
    content: "";
    left: calc(var(--size) * 0.55);
    top: 0;
    width: calc(var(--size) * 0.55);
    height: calc(var(--size) * 0.85);
    background: rgb(209, 2, 2);
    border-radius: calc(var(--size) * 0.55) calc(var(--size) * 0.55) 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }

  .heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

a {
    text-decoration: none;
    color: var(--color-complementary);

    &:hover {
        text-decoration: underline overline #111;
    }
}


/* Modules */

.flex_centered_col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
